<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbarheader">
      <a class="navbar-brand" href="#">Recipe Book</a>
    </div>
    <!--
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"
        *ngIf="isAuthenticated">
          <a
          routerLinkActive="active"
          class="nav-link"
          routerLink ="/recipes"
          >Recipes</a>
        </li>
        <li class="nav-item"
        *ngIf="!isAuthenticated">
          <a
          routerLinkActive="active"
          class="nav-link"
          routerLink ="/auth"
          >Authenticate</a>
        </li>
        <li class="nav-item">
          <a
          routerLinkActive="active"
          class="nav-link"
          routerLink ="/shopping-list"
          >Shopping List</a>
        </li>
      </ul>
      <ul class="navbar-nav"><li
        class="nav-item"
        *ngIf="isAuthenticated">
        <a
        routerLinkActive="active"
        class="nav-link"
        routerLink ="/auth"
        (click)="onLogout()">Logout
        </a>
      </li></ul>

      <div class="dropdown"
      *ngIf="isAuthenticated"
      appDropdown>

        <a class="dropdown-toggle" role="button" style="text-decoration: none; cursor: pointer;">
          Manage
        </a>
        <ul class="dropdown-menu" >
          <li><a
            class="dropdown-item"
            style="cursor: pointer;"
            role="button"
            (click)="onSaveData()">Save Data </a></li>
          <li><a
            class="dropdown-item"
            style="cursor: pointer;"
            role="button"
            (click)="onFetchData()">Fetch Data</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
