<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
          type="submit"
          class="btn btn-success"
          [disabled]="!recipeForm.valid">Save</button>
          <button
          type="button"
          class="btn btn-danger"
          (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">ImageURL</label>
            <input
            type="text"
            id="imagePath"
            class="form-control"
            formControlName="imagePath"
            #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img
          style="max-height: 300px;"
          [src]="imagePath.value"
          class="img-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="Description"
              class="form-control"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-12" formArrayName="ingredients">
          <div class="row"
          *ngFor="let ingredientCtrl of controls; let i = index"
          [formGroupName]="i"
          style="margin-top:10px;">
            <div class="col-8">
              <input
              type="text"
              class="form-control"
              formControlName="name">
            </div>
            <div class="col-2">
              <input
              type="number"
              class="form-control"
              formControlName="amount">
            </div>
            <div class="col-2">
              <button
              type="button"
              (click)="onDeleteIngredient(i)"
              class="btn btn-danger">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <button
              type="button"
              class="btn btn-success"
              (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
