<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <!-- <div class="alert alert-danger" *ngIf="error" style="margin-top:5px;">
      {{ error }}
    </div> -->
    <!-- <app-alert (close)="onHandleError()" [message]="error" *ngIf="error"></app-alert> -->
    <ng-template appPlaceholder></ng-template>
    <div *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
        />
      </div>
      <div style="margin-top: 5px">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          {{ isLoginMode ? "Swith to Sign Up" : "Switch to Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
