<div class="backdrop" (click)="onClose()">

</div>
<div class="alert-box">
  <p> {{ message }} </p>
  <div class="alert-box-actions">
    <button class="btn btn-primary float-end" (click)="onClose()">
      Close
    </button>
  </div>
</div>
